/* CreateNote.scss */
.create-note {
  padding: 1rem;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--light-color-2);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: var(--light-color-2);
  }

  &__fake-note {
    display: flex;
    align-items: center;
    color: var(--dark-color);
    font-size: 1.2rem;

    .create-note__icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  &__input-container {
    display: flex;
    align-items: center;

    &__input {
      flex: 1;
      font-size: 1rem;
      margin-right: 0.5rem;
      min-width: 0;
      background-color: var(--light-color);
      border: none;
      background: transparent;

      &:focus {
        outline: none;
        border: none;
        background-color: none;
      }
    }

    &__button {
      padding: 0.5rem;
      font-size: 1rem;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 25%;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
