.note-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__item {
    &:hover {
      background: var(--light-color-2);
    }
    display: flex;
    border-bottom: 1px solid var(--light-color-2);
    &__link {
      padding: 1rem;
      flex: 1;
      min-width: 0;
      &__title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__trash-can {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      width: fit-content;
    }

    &--active {
      background: var(--light-color-2);
    }
  }
}
