.note-page {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    display: flex;
    align-items: start;
    height: 8rem;
    padding: 1rem 0;
    &__title {
      line-height: normal;
      display: flex;
      height: 100%;
      flex: 1;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 0 2rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
