.diff-note {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    &__title {
      flex: 1;
      font-size: 1.8rem;
      color: var(--black-color);
      border: none;
      background: transparent;
      margin: 1rem 0;
      font-weight: bold;
      padding: 0 2rem;
    }
  }

  &__content {
    flex: 1;
    font-size: 1rem;
    color: var(--dark-color);
    width: 100%;
    border: 0;
    padding: 2rem;
    resize: none;
    overflow-y: auto;
  }

  &__revert-button {
    background-color: var(--danger-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 20%;
    margin-right: auto;
    margin-left: auto;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__header__title:focus,
  &__content:focus {
    border: none;
    outline: none;
  }
}
