.note-header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: fit-content;
  padding: 0 0.5rem;

  &__trash-can {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  &__diff {
    display: flex;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 50%;

    &--active {
      background-color: var(--success-color);
      color: var(--white-color);
    }
    &--inactive {
      background-color: var(--danger-color);
      color: var(--black-color);
    }
  }
}
