/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --success-color: #28a745;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --light-color-2: #ddd;
  --grey-color: #555;
  --light-grey-color: #888;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #28a745;
  --dark-green-color: #218838;
  --darker-green-color: #1e7e34;
}
