.version-control-button {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  width: fit-content;

  &__icon {
    width: 2rem;
    height: 2rem;
    color: var(--dark-color);
  }
}
